---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="https://19-1-skku-oss.github.io/2019-1-OSS-E4">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="https://19-1-skku-oss.github.io/2019-1-OSS-E4">
                        	<p style="font-size:1.2rem;font-weight:300">2019 OSS E4 Team</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="https://19-1-skku-oss.github.io/2019-1-OSS-E4">
                        	<p style="font-size:1rem;font-weight:300">2019년 오픈소스 실습 E4팀의 공식 홈페이지 입니다.</p>
			            </a>
                    </h3>
                    {% include social-links.html %}
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="https://19-1-skku-oss.github.io/2019-1-OSS-E4/about">
                         E4팀 소개
                         </a>
                         <a class="btn zoombtn" href="https://19-1-skku-oss.github.io/2019-1-OSS-E4/projects">
                         프로젝트
                         </a>
                 </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
